[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
helloname-0-0-1-py3-none-any-whl = "*"
setup-py = "*"
bdist-wheel = "*"
helloname = {path = "./dist/helloName-0.0.1-py3-none-any.whl"}
twine = "*"

[requires]
python_version = "3.6"
